button {
  display: inline-block;
  max-width: 100%;
  background: white;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  line-height: 36px;
  cursor: pointer;
  margin-bottom: 4px;
}

button:hover {
  color: white;
  border-color: black;
  background: black;
}

.blue {
  color: black;
  background-color: rgb(200, 221, 242);
  border-color: #2a97d8;
}

.green {
  color: #fff;
  background-color: #72bc31;
  border-color: #53921b;
}

.equalizer {
  float: left;
}

.slider {
  cursor: pointer;
  position: relative;
}

.track {
  float: left;
  margin-right: 20px;
}

.trackPath {
  background-color: rgb(7, 255, 253);
  position: relative;
  height: 100%;
  border-radius: 7px;
  width: 20px;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  background: rgb(225, 225, 225);
}

#root {
  background: white;
  flex-direction: "row";
  display: flex;
  max-width: 1250px;
  min-height: 100vh;
}

#navigation {
  background: #36a;
  min-width: 165px;
  display: flex;
  flex-direction: column;
  flex: 0.1;
  padding: 10px;
}

#pageContent {
  min-width: 50vw;
  flex: 0.9;
  padding-right: 20px;
  padding-left: 20px;
}
