#registrationForm {
  width: 50%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#registrationForm button {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  #registrationForm {
    width: 100%;
  }
}
